.lead__image {
  height: 615px;
  background-image: url(../../../images/lead-polka.jpg);
  background-size: 100% 100%;
  margin: 0 148px;
}

@media (max-width: 1200px) {
  .lead__image {
    height: 580px;
    margin: 0 48px;
  }
}

@media (max-width: 880px) {
  .lead__image {
    height: 530px;
    margin: 0;
  }
}

@media (max-width: 800px) {
  .lead__image {
    height: 480px;
  }
}

@media (max-width: 660px) {
  .lead__image {
    height: 400px;
  }
}

@media (max-width: 590px) {
  .lead__image {
    height: 380px;
  }
}

@media (max-width: 520px) {
  .lead__image {
    height: 350px;
  }
}

@media (max-width: 430px) {
  .lead__image {
    height: 280px;
  }
}

@media (max-width: 370px) {
  .lead__image {
    height: 200px;
  }
}