.lead__image {
  max-width: 984px;
  max-height: 615px;
  margin: 0 auto;
  display: block;
}

@media (max-width: 1200px) {
  .lead__image {
    max-width: 928px;
    max-height: 580px;
  }
}

@media (max-width: 928px) {
  .lead__image {
    max-width: 100%;
  }
}

@media (max-width: 880px) {
  .lead__image {
    max-height: 530px;
  }
}

@media (max-width: 800px) {
  .lead__image {
    max-height: 480px;
  }
}

@media (max-width: 660px) {
  .lead__image {
    max-height: 400px;
  }
}

@media (max-width: 590px) {
  .lead__image {
    max-height: 380px;
  }
}

@media (max-width: 520px) {
  .lead__image {
    max-height: 350px;
  }
}

@media (max-width: 430px) {
  .lead__image {
    max-height: 280px;
  }
}

@media (max-width: 370px) {
  .lead__image {
    max-height: 200px;
  }
}